@import "tailwindcss";


@font-face {
    font-family: creamy;
    src: url("/fonts/milky-boba/Milky\ Boba.ttf");
}

.creamy{
    font-family: creamy;
}

.animate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}